html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(type= "text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js")
  body
    canvas#MainCanvas(width= "800" height= "800")
  script(src="/javascripts/Chessboard.js")
  script(src="/javascripts/ChessPieces.js")
  script(src="/javascripts/Pawn.js")
  script(src="/javascripts/Rook.js")
  script(src="/javascripts/Knight.js")
  script(src="/javascripts/Bishop.js")
  script(src="/javascripts/Queen.js")
  script(src="/javascripts/King.js")