html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(type= "text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js")
  body
    canvas#MainCanvas(width= "800" height= "800")
    div#a8
    div#b8
    div#c8
    div#d8
    div#e8
    div#f8
    div#g8
    div#h8
    div#a7
    div#b7
    div#c7
    div#d7
    div#e7
    div#f7
    div#g7
    div#h7
    div#a6
    div#b6
    div#c6
    div#d6
    div#e6
    div#f6
    div#g6
    div#h6
    div#a5
    div#b5
    div#c5
    div#d5
    div#e5
    div#f5
    div#g5
    div#h5
    div#a4
    div#b4
    div#c4
    div#d4
    div#e4
    div#f4
    div#g4
    div#h4
    div#a3
    div#b3
    div#c3
    div#d3
    div#e3
    div#f3
    div#g3
    div#h3
    div#a2
    div#b2
    div#c2
    div#d2
    div#e2
    div#f2
    div#g2
    div#h2
    div#a1
    div#b1
    div#c1
    div#d1
    div#e1
    div#f1
    div#g1
    div#h1
  script(src="/javascripts/Chessboard.js")
  script(src="/javascripts/Chesspieces.js")
  script(src="/javascripts/Pawn.js")
  script(src="/javascripts/Rook.js")
  script(src="/javascripts/Knight.js")
  script(src="/javascripts/Bishop.js")
  script(src="/javascripts/Queen.js")
  script(src="/javascripts/King.js")